In [2]:
import numpy as np
from scipy import stats

s = np.random.normal(size=1500)
b = np.arange(-4, 5)
h = np.histogram(s, bins=b, density=True)[0]

In [5]:
bins = 0.5*(b[1:] + b[:-1])
pdf = stats.norm.pdf(bins)

In [6]:
loc, std = stats.norm.fit(s)
print(loc, std)

-0.003703557078122228 1.008893965556533

In [7]:
import numpy as np
import pandas as pd

a1 = np.array([14.75, 18.5, 72.9, 35.7])
s1 = pd.Series(a1)

In [8]:
type(s1)

pandas.core.series.Series

In [9]:
names = ['Greater London', 'Tokyo', 'Paris','New York']
population = [8663300, 9272565, 2229621,8491079]
area = [1572, 627, 105, 784]

In [10]:
df = pd.DataFrame({'cities': names,'population': population,'area': area})

In [11]:
type(df)

pandas.core.frame.DataFrame

In [12]:
df.head(2)

           cities  population  area
0  Greater London     8663300  1572
1           Tokyo     9272565   627

In [13]:
df.tail(2)

     cities  population  area
2     Paris     2229621   105
3  New York     8491079   784

In [14]:
df.shape

(4, 3)

In [15]:
df.dtypes

cities        object
population     int64
area           int64
dtype: object

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   cities      4 non-null      object
 1   population  4 non-null      int64
 2   area        4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 224.0+ bytes

In [19]:
df['area'] = df['area'].astype('float')

In [20]:
df.columns

Index(['cities', 'population', 'area'], dtype='object')

In [21]:
df['population'][2:4]

2    2229621
3    8491079
Name: population, dtype: int64

In [22]:
df[['cities','area']][0:1]

           cities    area
0  Greater London  1572.0

In [23]:
df.set_index('cities', inplace=True)

In [24]:
df.loc['Tokyo']

population    9272565.0
area              627.0
Name: Tokyo, dtype: float64

In [25]:
df.loc['Greater London','population']

8663300

In [26]:
df.describe()

         population         area
count  4.000000e+00     4.000000
mean   7.164141e+06   772.000000
std    3.306720e+06   607.195191
min    2.229621e+06   105.000000
25%    6.925714e+06   496.500000
50%    8.577190e+06   705.500000
75%    8.815616e+06   981.000000
max    9.272565e+06  1572.000000

In [27]:
   df['pop_density'] = df['population']/df['area']

In [32]:
import numpy as np
import pandas as pd

gla_cities = pd.read_csv('GLA_World_Cities_2016.csv')

In [33]:
gla_cities.head(3)

,City,Country,Population,Inland area in km2,Density in people per hectare,Dwellings,Density in dwellings per hectare,People per dwelling,Approx city radius km,Main topographical constraint,Constraint
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Greater London,England,"8,663,300","1,572",55.0,"3,454,490",22.0,2.5,23.0,Rivers,4%
2,Inner London,England,"3,439,700",319,108.0,"1,460,840",46.0,2.4,10.0,Rivers,5%

In [34]:
gla_cities.dropna(how='all', inplace=True)

In [35]:
gla_cities.shape

(17, 11)