In [20]:
import numpy as np

In [2]:
s = np.random.normal(size=1500)

In [7]:
b=np.arange(-4,5)

In [8]:
h=np.histogram(s,bins=b,density=True)[0]

In [9]:
bins = 0.5*(b[1:]+b[:-1])
from scipy import stats
pd = stats.norm.pdf(bins)

In [9]:
loc,std = stats.norm.fit(s)
print(loc,std)

-0.027539322659809733 0.9870190939735866

In [10]:
np.mean(s)

-0.030160274028405307

In [11]:
np.median(s)

-0.028626477660222818

In [12]:
import pandas as pd

In [13]:
a1 = np.array([12.3,45.2,23.5,14.6,56.2])
s1 = pd.Series(1)

In [14]:
type(s1)

pandas.core.series.Series

In [15]:
names = ['Greater landon','Tokyo','paris','New York']

In [16]:
population = [677778,89057657,365456,79878979]
area = [1233,566,231,665]

In [17]:
df = pd.DataFrame({'cities':names,'population':population,'area':area})

In [18]:
type(df)

pandas.core.frame.DataFrame

In [21]:
df.head(2)

           cities  population  area
0  Greater landon      677778  1233
1           Tokyo    89057657   566

In [22]:
df.tail(2)

     cities  population  area
2     paris      365456   231
3  New York    79878979   665

In [24]:
df.dtypes

cities        object
population     int64
area           int64
dtype: object

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   cities      4 non-null      object
 1   population  4 non-null      int64
 2   area        4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 228.0+ bytes

In [26]:
df.columns

Index(['cities', 'population', 'area'], dtype='object')

In [27]:
df['population'][2:4]

2      365456
3    79878979
Name: population, dtype: int64

In [28]:
df[['cities','area']][0:1]

           cities  area
0  Greater landon  1233

In [29]:
df.set_index('cities',inplace=True)

In [30]:
df.loc['Tokyo']

population    89057657
area               566
Name: Tokyo, dtype: int64

In [33]:
df.loc['Greater landon','population']

677778

In [34]:
df.describe()

         population         area
count  4.000000e+00     4.000000
mean   4.249497e+07   673.750000
std    4.861146e+07   416.523209
min    3.654560e+05   231.000000
25%    5.996975e+05   482.250000
50%    4.027838e+07   615.500000
75%    8.217365e+07   807.000000
max    8.905766e+07  1233.000000

In [35]:
df['pop_density']=df['population']/df['area']

In [36]:
df

                population  area    pop_density
cities
Greater landon      677778  1233     549.698297
Tokyo             89057657   566  157345.683746
paris               365456   231    1582.060606
New York          79878979   665  120118.765414

In [58]:
import numpy as np
import pandas as pd
gla_cities = pd.read_csv('GLA_World_Cities_2016.csv')

renamecols = {'Inland area in km2': 'Area km2'}
gla_cities.rename(columns = renamecols, inplace  = True)
gla_cities.columns

Index(['City', 'Country', 'Population', 'Area km2',
       'Density in people per hectare', 'Dwellings',
       'Density in dwellings per hectare', 'People per dwelling',
       'Approx city radius km', 'Main topographical constraint', 'Constraint'],
      dtype='object')

Index(['City', 'Country', 'Population', 'Inland area in km2',
       'Density in people per hectare', 'Dwellings',
       'Density in dwellings per hectare', 'People per dwelling',
       'Approx city radius km', 'Main topographical constraint', 'Constraint'],
      dtype='object')

In [29]:
gla_cities['pop_density'] =  \
gla_cities['Population']/ gla_cities['Area in km2']

KeyError: 'Area in km2'

In [60]:
gla_cities['Population'] = gla_cities['Population'].astype(str)
gla_cities['Population'] = gla_cities['Population'].str.replace(',','').astype(float)

In [44]:
gla_cities['Population']

0           NaN
1     8663300.0
2     3439700.0
3     5223500.0
4     2229621.0
5      500715.0
6     3469849.0
7     3141991.0
8     1604555.0
9      693878.0
10    8491079.0
11    2722389.0
12     617594.0
13    6476631.0
14    2375151.0
15    3902710.0
16    9272565.0
17    2691742.0
Name: Population, dtype: float64

In [62]:
gla_cities['Area km2'] = gla_cities['Area km2'].astype(str)
gla_cities['Area km2'] = gla_cities['Area km2'].str.replace(',','').astype(float)
gla_cities['Area km2']

0        NaN
1     1572.0
2      319.0
3     1254.0
4      105.0
5       48.0
6      892.0
7      606.0
8       98.0
9      141.0
10     784.0
11     590.0
12     125.0
13    1200.0
14     331.0
15     666.0
16     627.0
17     225.0
Name: Area km2, dtype: float64

In [64]:
gla_cities['Dwellings'] = gla_cities['Dwellings'].astype(str)
gla_cities['Dwellings'] = gla_cities['Dwellings'].str.replace(',','').astype(float)
gla_cities['Dwellings'].head(2)

0          NaN
1    3454490.0
Name: Dwellings, dtype: float64

In [65]:
gla_cities['pop_density'] = \
gla_cities['Population'] / gla_cities['Area km2']
gla_cities['pop_density'].head(3)

0             NaN
1     5511.005089
2    10782.758621
Name: pop_density, dtype: float64

In [67]:
def city_size(x):
     if x < 1.5:
         s = 'Small' 
     elif 1.5 <= x < 3:
         s= 'Medium'
     elif 3 <= x< 5:
         s= 'Large'
     else:
         s = 'Mega'
         return s

In [72]:
gla_cities['City Size'] = \
gla_cities['Population'].apply(city_size)

In [73]:
gla_cities[gla_cities['City Size'] == 'Small']

Empty DataFrame
Columns: [City, Country, Population, Area km2, Density in people per hectare, Dwellings, Density in dwellings per hectare, People per dwelling, Approx city radius km, Main topographical constraint, Constraint, pop_density, Cities Size, City Size]
Index: []